<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<!--
		**Description**
		Configuration file for the Athelon Trading System (ATS).
		The configuration file name is  DataService.config.
		
	-->

	<!--
		**Logging options**
		Log files are always written to the log directory. The log file name 
		is the same as the service name.

		Enabled:		true|false
		Level:			not used
		Level_settings:	Error, Warning, Info, Trace, Debug, Func_Entry, Trade, Speak, Stats
		Rollover:		(not functional) If true the log file name is appended with the current date: yyyy-mm-dd.
						If false (default) there is no date attached to the log file at startup. 
		
	-->
	<Logging 
		enabled="true" 
		level="4"
		level_settings="Error|Warn|Info|Trade|Stats"
		rollover="false" 
	/>
	
	<!--
		**Speech options**
		Log files are always written to the log directory. The log file name 
		is the same as the service name.

		Enabled:		true|false
		Level:			Volume level
		Level_settings:	Speak
		Voice:			Voice used for speech 
		
	-->
	<Speech 
		enabled="false" 
		volume_level="4"
		level_settings="Speak"
		voice="IID_ISpVoice"
	/>
	
	
	<!--
		**Snapshot logger options**
		Snapshot files are always written to the Snapshot directory.

		Enabled:		true|false
		Level:			0=Output(default), 1=Verbose
		Rollover: 		If true the snapshot file name is appended with the current date: yyyy-mm-dd.
						If false (default) there is no date attached to the log file at startup. 
		
	-->
	<Snapshot 
		enabled="false" 
		level="0" 
		rollover="false" 
	/>
	
	<!--
		**Thread Management Settings**
		
	-->
	<ThreadManagement 
		MAX_DCWORKER="1"
		MAX_DAWORKER="8"
	/>

	<!--
		**MSSQL Database Management Settings**
		
		User="database user"
		Credential="database user credential"
		Server="database instance server"
		Database="database name"
		
		The driver is operating system dependent.
		Setup a system DSN to test and find a working driver - use ODBC Data Source Administrator (64-bit) tool
		Driver="{ODBC Driver}
								:2012 64-bit server - {ODBC Driver 11 for SQL Server}
								:Windows 10 - {SQL Server}
		
	-->
	<DBManagement 
		User="ATS_APP_USER"
		Credential="your-password"
		Server="your-db-server-name"
		Database="ATS"
		Driver="{SQL Server}"
		
	/>
	
	<!--
		**RDQ Management Settings**
		Not currently functional
		
	-->
	<QueueManagement 
		QM_1="1"
		QM_2="1"
	/>
	 
	 <!--
		**Dynamic Parameters that apply to StructX, AnalyticX and NumericX configuration settings**
		Data_Compression_Enabled:	"true|false" anables expected value compression
		
		
	-->
	 <AT_Analytics_Configuration 
		
		SYMBOL_MAXSIZE="8"
		DATA_COMPRESSION_ENABLED="true"
		DATA_GAP_ENABLED="true"
		OUTLIER_COLLECTION_SIZE="3"
		MAX_OUTLIER_DELTA="1.0"
		
		SUPERTICK_SIZE="12"
		MIN_SLOTS_FOR_TREND_CALCS="25"
		NUM_SLOTS_TO_ESTABLISH_TREND="75"
		MAX_SLOTS_ON_FOLLOW="75"
		ACTIVE_DS_TRIM_SIZE="1000"
		
		TREND_UPPER_GRADIENT="0.75"
		TREND_LOWER_GRADIENT="0.75"
		CHANNEL_COMPRESS_RANGE_LIMIT="0.10"
		CHANNEL_GAP_RANGE_LIMIT="0.10"
		BASIS_POINT_ADJ="0.0025"
		
	 />
	 
	 
	<!--
		**ActiveTick Real-Time Provider Connector Management Settings**
		
		Enabled:					true|false to activate Active Tick data provider (multiple providers should not run concurrently)
		DisableRDQInsertion:		Used during snapshot generation and for performance testing
		ServerPort:					443|80
		CallbackCycleDelay:			Time in milliseconds to delay each callback cycle (0: relinqish thread, -1: no delay, 1-n: measure of milliseconds)
		TrackStatsForSymbol:		Specify "symbol" to track for provider time-of-trade drift testing. When set to "", nothing is tracked. Must enable "STATS" in logger.
		
	-->
	<AT_Provider 
		Enabled="false"
		DisableRDQInsertion="false"
		UserID="your_user_id"
		Credential="your_password"
		GUID_KEY="you_guid_key"
		PrimaryServer="activetick1.activetick.com"
		SecondaryServer="activetick1.activetick.com"
		ServerPort="443"
		UseInternalQueue="false"
		CallbackCycleDelay="0"
		TrackStatsForSymbol="TQQQ"
	/>
	
	<!--
		**DataFile Provider (Snapshot DataFile) Connector Settings**
		
		enabled:					true|false to enable the data file provider (multiple providers should not run concurrently) 
		DisableRDQInsertion:		Used for performance testing
		Snapshot: 					Name of data file residing in the snapshot directory containg trade records
		InsertTimeStamp:			true|false - Uses timestamp in trade record when true, otherwise uses current time in MS
		Frequency:					Time in milliseconds for each TRADE record to be delivered to the RDQ
		TradeRecordsPerCycle:		Number of trades (minimum 1) records deliverd for each cycle (TradeRecordsPerCycle x Frequency)
		
		snapshot - FB_IBM_MU_TD 11778 with Single - Double - Triple OLs
		
	-->
	<DataFile_Provider 
		Enabled="true"
		DisableRDQInsertion="false"
		SnapshotFileName="snapshot.dat"
		InsertTimeStamp="false"
		Frequency="1"
		TradeRecordsPerCycle="8"
	/>
	
	
	<!--
	Notes:
	Replacement of "last trade amt:":		last_tick:
	Replacement of last character: 			[)]*$
	-->
	
	
</Configuration>
