USE [ATS_DEV]
GO

/****** Object:  Table [dbo].[seq_algo]    Script Date: 4/4/2020 11:52:43 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[seq_algo](
	[sequence] [int] NOT NULL,
	[uid] [int] NOT NULL
) ON [PRIMARY]
GO
